<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 text-center">
            <form class="form-horizontal" name="form">
                <fieldset>
                    <div id="legend" class="">
                        <legend class="">CT图像上传</legend>
                    </div>
                    <div class="control-group">

                        <!-- Select Basic -->
                        <label class="control-label">CT图片类型</label>
                        <div class="controls">
                            <select class="input-xlarge" ng-model="type">
                                <option value="1">肝脏</option>
                                <option value="2">肺部</option></select>
                        </div>

                    </div>

                    <div class="control-group">
                        <label class="control-label">CT文件路径</label>

                        <!-- File Upload -->
                        <div class="controls">
                            <input class="input-file" id="fileInput" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                   ngf-accept="'image/*'" ngf-max-size="20MB">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" name="id">会诊号</label>
                        <div class="controls">
                            <input type="text" placeholder="会诊号" class="input-xlarge" ng-model="id">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>

                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" type="submit" ng-click="submit()">上传</button>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"></label>

                        <!-- Button -->
                        <div class="controls" ng-bind="result">
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
<!--Upload on form submit or button click
<form name="form">
    Single Image with validations
    <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="20MB">选择CT图像
    </div>
    Multiple files
    <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
    Drop files:
    <div ngf-drop ng-model="files" class="drop-box">Drop</div>
    <button type="submit" ng-click="submit()">submit</button>
</form>


Upload right away after file selection:
<div class="button" ngf-select="upload($file)">Upload on file select</div>
<div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
Drop File:
<div ngf-drop="uploadFiles($files)" class="drop-box"
     ngf-drag-over-class="'dragover'" ngf-multiple="true"
     ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here
</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>-->
