<style>
    .table{
        table-layout: fixed;
    }
    .datahide{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="text-center">
                CT图像
            </h3>
            <table class="table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>CT类型</th>
                    <th>CT诊断</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ctImage in ctImages">
                    <td>{{ctImage.id}}</td>
                    <td>{{ctImage.type}}</td>
                    <td class="datahide">{{ctImage.diagnosis}}</td>
                    <td>
                        <a href="#/record/{{ctImage.id}}">病历</a>
                        <a ng-click="goCAD(ctImage)">辅助诊断</a>
                        <a href="#/lung/{{ctImage.file}}">肺部辅助诊断</a>
                        <a ng-click="deleteCT(ctImage.id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</div>